@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* Custom properties */

:root {
  --txt-primary-dark: hsl(238, 29%, 16%);
  --txt-primary-orange: hsl(14, 88%, 65%);

  --txt-neutral-gray: hsl(237, 12%, 33%);
  --txt-neutral-lightgray: hsl(240, 6%, 50%);

  --border-clr-divider: hsl(240, 5%, 91%);

  --gradient-violet: hsl(273, 75%, 66%);
  --gradient-blue: hsl(240, 73%, 65%);
}

/* css reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* Styling */
body {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(var(--gradient-violet), var(--gradient-blue));
  overflow: hidden;
}

.container {
  position: relative;
  width: 650px;
  height: 400px;
  border-radius: 25px;
  padding: 50px;
  background-color: #fff;
  border: none;
}

@media (max-width: 35em) {
  .container.even-columns {
    min-height: 100%;
    min-width: 100%;
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* align-items: center; */
  }

  #box-illustration {
    display: none;
  }
  .container {
    margin: 0;
    padding: 0;
    display: flex;
    width: 300px;
    height: 480px;
    bottom: -6%;
  }

  /* 
    #shadow-img{
    position: absolute;
    top: -20%;
    left: -32%;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 480px;
    height: 470px;

} */
.illustration-img {
    position: relative;
    max-width: 120px;
    max-height: 100px;
}
#shadow-img-mobile {
  background-image: url(images/bg-pattern-mobile.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 188%;
  height: 98%;
  position: absolute;
  top: -10%;
  left: 30%;

}
  .illustration-img #woman-illustration {
    background-image: url(images/illustration-woman-online-mobile.svg);
    position: absolute;
    min-width: 182%;
    min-height: 166%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: -100%;
    left: 35%;
  }
  .faq-section {
    margin: 20px 16px;
    max-width: calc(300px - 32px);
    max-height: 480px;
  }

  .faq-section h1 {
    /* background-color: aqua; */
    text-align: center;
  }
  .question {
    font-size: 0.1rem;
  }
}

.illustration-img {
  position: relative;
  height: 560px;
  width: 560px;
}

@media (min-width: 35.1em) {
  .illustration-img #woman-illustration {
    position: absolute;
    top: 0;
    left: -40%;
    background-image: url(images/illustration-woman-online-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 120%;
    height: 120%;
  }
  #shadow-img {
    position: absolute;
    top: -20%;
    left: -32%;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 480px;
    height: 470px;
  }
  .even-columns {
    display: flex;
    justify-content: space-between;
  }
}

.illustration-img #box-illustration {
  position: absolute;
  left: -40%;
  top: 18%;
  width: 100px;
  height: 100px;
  background-image: url(images/illustration-box-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.faq-section {
  height: 300px;
  width: 600px;
}

.faq-section h1 {
  color: var(--txt-primary-dark);
  font-weight: 700;
  font-size: 1.7rem;
  margin-bottom: 12px;
}

.faq-section .questions-container {
  color: var(--txt-neutral-gray);
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
}

.arrow-svg {
  width: 0.5rem;
  height: 0.5rem;
  background-image: url(images/icon-arrow-down.svg);
  /* background: center no-repeat; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.master-div {
  border-bottom: var(--border-clr-divider) 2px solid;
  cursor: pointer;
}

.question {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--txt-neutral-gray);
  margin: 8px 0px;
  /* cursor: pointer; */
}

.question:hover {
  color: var(--txt-primary-orange);
}

.master-div .even-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.master-div .even-columns img {
  height: 0.5rem;
  width: 0.7rem;
}

.master-div p {
  max-width: 265px;
  font-size: 0.8rem;
  color: var(--txt-neutral-lightgray);
  margin: 4px 0px;
  display: none;
}
